/* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */

.gradientColor {
    /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(53,53,255,1) 35%, rgba(0,212,255,1) 100%);
}

.borderConvertir {
    border: 2px solid black;
}

.list {
    list-style: none;
}